<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Buchladen mit Servlets</display-name>
  <servlet>
    <servlet-name>BuchladenServlet</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.BuchladenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BannerServlet</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.BannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuchladenServlet</servlet-name>
    <url-pattern>/buchladen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerServlet</servlet-name>
    <url-pattern>/banner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produktauswahl</display-name>
    <servlet-name>Produktauswahl</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.Produktauswahl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produktauswahl</servlet-name>
    <url-pattern>/Produktauswahl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Warenkorb</display-name>
    <servlet-name>Warenkorb</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.Warenkorb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Warenkorb</servlet-name>
    <url-pattern>/Warenkorb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarenkorbInhalt</display-name>
    <servlet-name>WarenkorbInhalt</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.WarenkorbInhalt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarenkorbInhalt</servlet-name>
    <url-pattern>/WarenkorbInhalt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Warenkorbzustand</display-name>
    <servlet-name>Warenkorbzustand</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.Warenkorbzustand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Warenkorbzustand</servlet-name>
    <url-pattern>/Warenkorbzustand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KundeInformation</display-name>
    <servlet-name>KundeInformation</servlet-name>
    <servlet-class>ch.hftso.buchladen.servlets.KundeInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KundeInformation</servlet-name>
    <url-pattern>/KundeInformation</url-pattern>
  </servlet-mapping>
</web-app>